<%- include('partials/header.ejs') %>

  <%- include('partials/main_nav.ejs') %>

    <%- include('partials/title.ejs') %>

      <!-- About me content -->

      <!-- Added Passport size photo -->
      <div style="text-align:center;">
        <img class="myimg" src="http://localhost:3000/Assets/images/passport_photo.jpg" height="250" width="300"
          alt="My Picture">
        <br>
        <br>

        <div class="container">
          <h3>Aagam Shah</h3>
          <!-- Link to download my resume -->
          <h5><a href="http://localhost:3000/Assets\documents\Aagam_Shah_Resume.pdf" download>Here's the link to
              download my
              resume</a></h5>
        </div>

        <!-- Brief paragraph about me -->
        <div class="container">
          <p><br>Hello, My name is Aagam Shah. I live in Gujarat, India.<br>
            <br>I completed my diploma in Computer Engineering from Maharaja Sayajirau University of Baroda.<br>
            <br>I am currently enrolled in <b>Software Engineering and Technology</b> course at <b>Centennial
              College</b>.
          </p>
        </div>
      </div>

      <%- include('partials/bottom_nav.ejs') %>

        <%- include('partials/footer.ejs') %>