<%- include('partials/header.ejs') %>

  <%- include('partials/main_nav.ejs') %>

    <%- include('partials/title.ejs') %>

      <!-- Services content -->
      <div style="text-align:center;">
        <h2><br>Services I offer</h2>

        <div class="container">
          <br><img class="myimg" src="http://localhost:3000/Assets/images/agile.png" alt="Agile Logo">
          <h4>Custom Software Development</h4>
          <br><img class="myimg" src="http://localhost:3000/Assets/images/andriod.png" alt="Andriod Logo">
          <h4>Custom Android Application Development</h4>
          <br><img class="myimg" src="http://localhost:3000/Assets/images/Azure.png" alt="Azure Logo">
          <h4>Azure cloud services and CLI/SDK</h4>
        </div>
        </br></br></br>
      </div>
      <%- include('partials/bottom_nav.ejs') %>

        <%- include('partials/footer.ejs') %>